<h1>Add a Wallet</h1>
<form action="" method="post" id="expense">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="">
        <br>
        <label for="amount">Amount: </label>
        <input type="number" name="amount" id="amount">
    </div>
    <button type="submit">Submit</button>
</form>
{{#if message}}
<div style="color: green;">{{message}}</div>
{{/if}}
<div>View your wallets <a href="/home">here</a></div>